<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="With TwelveBeans Accounting based in Halifax you can get your books and tax returns in order efficently and stress free."/>
    <title>TwelveBeans Accounting</title>
    <link rel="shortcut icon" type="image/icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https:use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Muli&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

    <link href="style.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-coffee-text" href="#">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-coins fa-stack-1x"></i>
          </span>
          <h1 class="title is-4">
            TwelveBeans
          </h1>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navSections">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navSections" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#overview">Overview</a>
          <a class="navbar-item" href="#services">Services</a>
          <a class="navbar-item" href="#booking">Booking</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item has-text-grey-light">
            <i class="fas fa-language fa-2x"></i>
          </a>
        </div>
      </div>
    </nav>

    <section class="hero is-fullheight-with-navbar parallax">
      <div class="hero-body" data-aos="fade" data-aos-delay="300">
        <div class="container">
          <h1 class="hero-title has-text-centered is-size-1 is-size-3-mobile">
            Hassle-free virtual accounting
          </h1>
          <h2 class="hero-subtitle has-text-centered is-size-4 is-size-6-mobile">
            TwelveBeans Accounting's purpose is to make accounting and tax simple, efficient, and stress free for your business, using the best cloud technologies and expert knowledge.
          </h2>
        </div>
      </div>
    </section>

    <section id="overview" class="section">
      <div class="container">
        <h1 class="title">Why do you need this</h1>
        <div class="columns">
          <div class="column is-half">
            You want to know how your business is doing financially, and you also have to file taxes, and provide financial reports to your lenders or investors.  So, let the cloud technology work for you: automate sending customer invoices and payment collection, updating your books with vendor invoices and credit card purchase, integrate your payroll with the bookkeeping, and much more.
          </div>
          <div class="column is-one-quarter is-offset-one-fifth">
            <figure class="image is-square">
              <img class="is-square" src="undraw_overview.svg" style="margin-top: -20%" />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="section">
      <div class="container">
        <h1 class="title">How we can help</h1>
        <div class="columns">

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_accounting.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Accounting services</h1>
            <ul>
              <li>Timely and accurate books</li>
              <li>Bank reconciliations</li>
              <li>Track income and expenses</li>
              <li>QuickBooks Online</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_payroll.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Payroll services</h1>
            <ul class="has-text-justified">
              <li>Payroll calculations</li>
              <li>Payroll tax remittances</li>
              <li>Online pay stubs</li>
              <li>T4s and T4A</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_tax_return.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Tax returns</h1>
            <ul class="has-text-justified">
              <li>GST/HST returns</li>
              <li>Income tax returns</li>
              <li>Electronic filing</li>
              <li>CRA audit support</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_statements.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Financial statements</h1>
            <ul class="has-text-justified">
              <li>Customized package</li>
              <li>Monthly, quarterly or annual</li>
              <li>GAAP-compliant</li>
              <li>Report results by location, job, project</li>
            </ul>
          </div>

        </div>
        <div class="columns">

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_cash_flow.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Cash flow forecasts</h1>
            <ul class="has-text-justified">
              <li>Weekly or monthly</li>
              <li>Identify cash deficit or surplus</li>
              <li>Optimize bills payment timing</li>
              <li>Know your liquidity</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_budget.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Budget preparation</h1>
            <ul class="has-text-justified">
              <li>Comprehensive budget</li>
              <li>Or focused budget</li>
              <li>Quarterly updates</li>
              <li>Monthly variance reporting</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_clean_up.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Optimize and clean-up</h1>
            <ul class="has-text-justified">
              <li>Customized setup in QBO</li>
              <li>Prior periods file review</li>
              <li>Clean-up of historical records</li>
              <li>Process improvement</li>
            </ul>
          </div>

          <div class="column is-one-quarter has-text-justified" data-aos="flip-up">
            <div class="is-flex">
              <figure class="image is-96x96">
                <img class="is-square" src="undraw_virtual_controller.svg" />
              </figure>
            </div>
            <h1 class="title is-4">Virtual Controller</h1>
            <ul class="has-text-justified">
              <li>Setting up strong financial controls</li>
              <li>Supervising your accounting stuff</li>
              <li>Accounting and tax research</li>
              <li>Interface with external auditors</li>
            </ul>

          </div>
      </div>
    </section>


    <section id="booking" class="section">
      <div class="container">
        <h1 class="title">Book an appointment</h1>
        <div class="columns">
          <div class="column is-half">
            <div class="card card-avatar">
              <div class="card-content">
                <div class="columns" style="max-height: 128px">
                  <div class="column is-half has-background-green">
                    <figure class="image avatar" data-aos="zoom-in">
                      <img src="Sophie_Avdey.jpg" alt="Sophie Avdey">
                    </figure>
                  </div>
                  <div class="column has-background-green">
                    <h1 class="title has-text-white">Sophie Avdey</h1>
                    <h2 class="subtitle is-5 has-text-white">CPA, CGA</h2>
                  </div>
                </div>
                <div class="columns" style="min-height: 144px">
                  <div class="column is-quater is-offset-half">
                    <figure class="image badge" data-aos="zoom-in">
                      <img src="badge_qbcp_online.svg">
                    </figure>
                  </div>
                  <div class="column is-quater">
                    <figure class="image badge" data-aos="zoom-in">
                      <img src="badge_qbcp_advanced_online.svg">
                    </figure>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <p>With 15 years of hands on experience in all aspects of accounting and finance, I help you to get your books in order and be tax-compliant, produce financial reports with information relevant for your decision making, establish and maintain procedures to minimize risk, and manage your cash - in other words, to support your business with a Controller role.</p>
                    <br />
                    <p><em>
                    Sophie is a CPA, CGA, has a MA in Economics and holds QuickBooks Online certifications. When she is not perfecting the numbers, she can be found at her loom weaving, or in the garden.</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="box is-radiusless">
            <iframe class="calendly" src="https://calendly.com/twelvebeansaccouning?embed_domain=localhost%3A8080&embed_type=Inline&text_color=333333&primary_color=43cc00"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer has-text-centered">
      <div class="container">
        <nav class="breadcrumb is-centered has-bullet-separator">
          <ul class="is-size-6">
            <li>Photo by <a href="https://unsplash.com/@olidale" target="_blank">Oli Dale</a></li>
            <li>Illustrations by <a href="https://undraw.co/" target="_blank">undraw.co</a></li>
            <li>Design by <a href="#top">TwelveBeans</a></li>
          </ul>
      </div>
      <div class="container">
        <br />
        <p class="is-size-7">Copyright &copy; TwelveBeans Accounting.  All rights reserved.</p>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
    AOS.init();
  </script>
</html>
